In [9]:
import os
import numpy as np
import pandas as pd

education_category = ["primary or below", "secondary", "diploma/assocaite degree", "bachelor degree or higher"]
no_of_record = 10
max_salary = 100000
salary = np.random.randint(max_salary, size=no_of_record)
education_index = np.random.randint(4, size=no_of_record)
education_level = [education_category[i] for i in education_index]
data = {'Education Level':education_level, 'Salary':salary}
df = pd.DataFrame(data) 
df

             Education Level  Salary
0  bachelor degree or higher   86298
1  bachelor degree or higher   77162
2           primary or below   45608
3           primary or below   33261
4  bachelor degree or higher   25763
5                  secondary   41840
6           primary or below   99298
7           primary or below   30835
8                  secondary   13621
9                  secondary   87668